<form method="POST" action="/breeds/{{breed._id}}/comment">

    <label for="submitter">Submitter:</label>
    <input type="text" name="submitter" id="submitter" />

    <label for="createdAt">Date Created:</label>
    <input type="date" name="createdAt" id="createdAt" />

    <label for="breed">Breed:</label>
    <input type="text" name="breed" id="breed" />

    <label for="description">Comment:</label>
    <input type="text" name="description" id="description" />

    <input type="submit" value="Create Review" />

</form>