<form method="POST" action="/breeds/{{breed._id}}/comment">

    <label for="submitter">Submitter:</label>
    <input type="text" name="submitter" id="submitter" />

    <label for="breed">Breed:</label>
    <input type="text" name="breed" id="breed" />

    <label for="description">Comment:</label>
    <input type="description" name="description" id="description" />

    <input type="submit" value="Create Comment" />

</form>