<form method="POST" action="/breeds/{{breed._id}}/listings">

    <label for="createdAt">Date Created:</label>
    <input type="date" name="createdAt" id="createdAt" />

    <label for="contactEmail">Contact Email:</label>
    <input type="text" name="contactEmail" id="contactEmail" />

    <label for="state">Contact State:</label>
    <input type="text" name="state" id="state" />

    <label for="dogName">Name of Animal:</label>
    <input type="text" name="dogName" id="dogName" />

    <label for="age">Age:</label>
    <input type="text" name="age" id="age" />

    <label for="gender">Gender:</label>
    <input type="text" name="gender" id="gender" />

    <label for="weight">Weight (lbs):</label>
    <input type="Number" name="weight" id="weight" />
    
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" />

    <input type="submit" value="Create Listing" />

</form>