/* body {
    background-color: rgb(224, 243, 237);
} */

h1 {
    font-size: 350%;
}

.newBreed .editBreed {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

#breed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}