<form method="POST" action="/breeds">

    <div class="form-group">
        <label for="name">Breed Name:</label>
        <input type="text" name="name" id="name" class="form-control" />
    </div>

    <label for="akcGroup">AKC Group:</label>
    <input type="text" name="akcGroup" id="akcGroup" />

    <label for="size">Size:</label>
    <input type="text" name="size" id="size" />

    <label for="shedding">Shedding:</label>
    <input type="text" name="shedding" id="shedding" />

    <label for="activityLevel">Activity Level:</label>
    <input type="text" name="activityLevel" id="activityLevel" />

    <label for="imgLink">Image Link:</label>
    <input type="text" name="imgLink" id="imgLink" />

    <input type="submit" value="Create Breed" />

</form>